// @import '../../styles/hero-title.module';
// @import '../../styles/animation';
@import '../../styles/main.scss';

.mainTitile {
      display: block;
      // width: 100vw;
      // height: 100vh;
      text-align: center;
      margin: auto;
      // font-size: 64px;
      font-size: 80px;
      margin: auto;
      // padding: 400px;
      // background-color: black;
      color: #999;
}