@import "../../styles/main.scss";

.resultPage {
      display: block;
      margin: auto;
      text-align: center;
      width: 100vw;
      height: 100vh;
      // outline: 1px solid red;
      font-size: 50px;
      background-color: #90ff90;
}

.resultMessage {
      display: block;
      margin: auto;
      padding: 70px 0 30px;
      text-align: center;
      // outline: 1px solid red;
      font-size: 50px;
      // color: #505050;
}


.result {
      display: flex;
      flex-direction: row;
}

@media screen and (min-width:$mobile) {
      .img {
            margin: 0 50px;
            // outline: 2px solid darkblue;
      }
}

@media screen and (min-width:$tablet) {
      .img {
            margin: 0 50px;
      }

}

@media screen and (min-width:$desktop) {
      .img {
            margin: 0 50px;
      }


}