.resultMessage {


      display: block;
      margin: auto;
      padding: 200px;
      text-align: center;
      width: 100vw;
      height: 100vh;
      // outline: 1px solid red;
      font-size: 50px;
      background-color: #90ff90;
      color: #505050;



}