// @import './styles/main';


.s.RestartButton {
      display: block;
      margin: 0 auto 100px;
      text-align: center;
      // background-color: bisque;
}

.NavLink {
      display: block;
      margin: 50px auto;
      text-align: center;
}

.RestartButtonTitle {
      font-size: 44px;
      font-family: "Styrene A Web", sans-serif;
      color: #9020A0;
}