:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

html {
  box-sizing: border-box;
  background-color: black;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway', 'Roboto', 'Montserrat', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, "Space Mono for Powerline, Fira Code, Ubuntu Mono derivative Powerline",
    monospace;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
div,
span,
item,
list,
link,
text,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: block;
  width: 100vw;
  height: 100%;
  // height: auto;
}

.container {
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto 10px;
  padding: 30px;
  display: block;
  width: 100%;
}



@media screen and (min-width:$mobile) {
  .container {
    max-width: $tablet;
    margin-bottom: 15px;

  }
}

@media screen and (min-width:$tablet) {
  .container {
    max-width: $desktop;
    margin-bottom: 20px;

  }
}

@media screen and (min-width:$desktop) {
  .container {
    max-width: $desktop;
  }

}