.img {
      display: block;
      text-align: center;
      width: 100%;
      height: auto;
      // outline: 1px solid yellow;
}

@media screen and (min-width:$mobile) {
      .img {
            // max-width: 480px;
            width: 25vw;
            height: 20vh;
            margin-bottom: 15px;

      }
}

@media screen and (min-width:$tablet) {
      .img {
            // max-width: 400px;
            width: 400px;
            height: 300px;
            margin-bottom: 20px;

      }
}

@media screen and (min-width:$desktop) {
      .img {
            // max-width: 600px;
            width: 600px;
            height: 400px;
      }

}