@import '../../styles/main.scss';

.imgarray {
      display: block;
      flex-direction: row;
}

.title {
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      margin: auto;
      text-align: center;
      color: black;
      font-size: 24px;
      // outline: 1px solid red;
}


@media screen and (min-width: $tablet) {
      .imgarray {
            display: block;
      }

}


@media screen and (min-width: $tablet) {
      .imgarray {
            display: flex;
      }
}

// 
@media screen and (min-width: $tablet) {
      .imgarray {
            display: flex;
      }
}