@import '../../styles/main.scss';

.imgarray {
      display: flex;
      flex-direction: row;
}

.title {
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      margin: auto;
      text-align: center;
      color: black;
      font-size: 24px;
      outline: 1px solid red;
}