@import '../../styles/main.scss';

.NavLink {
      display: block;
      margin: 50px auto;
      text-align: center;
}

.EndButtonTitle {
      font-size: 44px;
      font-family: "Styrene A Web", sans-serif;
      color: #9020A0;
}